conda/
03-data/
04-analysis/
06-reports/
tmp/
.snakemake/
.nextflow/
.nextflow.log
.nextflow.log.[1-9]
work/
snakemake_tmp/
.Rproj.user

#bash/
bash/*.txt

#Python/
Python/*.png
Python/*.jpg

# 07-publication
07-publication/*.aux
07-publication/*.bbl
07-publication/*.bcf
07-publication/*.fdb_latexmk
07-publication/*.fls
07-publication/*.lof
07-publication/*.log
07-publication/*.lot
07-publication/*.run.xml
07-publication/*.synctex.gz
07-publication/*.toc

#random unnecessary files
Python/output/latex_assembly_stats.txt
Python/scripts/assembly_stats_to_table.py
Python/scripts/complete_BGCs.py
Python/output/MAG_top_20_classes.png
Python/output/MAG_top_20_genera.png
Python/output/MMseqs_locations_with_orders.png
Python/output/MMseqs_orders_grouped_by_location.png
Python/output/MMseqs_top_10_orders.png
Python/output/pydamage_boxplot_no_outliers.png
.cache/matplotlib/fontlist-v330.json
Python/output/comp_BGC_taxo.tsv
Python/scripts/test_antismash.ipynb
Python/output/latex_bin_quality.txt
Python/scripts/antismash_json.ipynb
Python/output/Loc_NCBIrank.txt
Python/scripts/BGC_contigs_taxa.ipynb
